

<div class="accordion" id="accordionGen">
    <div class="accordion-item">
        <div class="accordion-item-header" class="prot{{protocol.id}}">
            <h2 class="d-flex flex-row justify-content-between">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#col{{protocol.id}}" aria-expanded="true" aria-controls="col{{protocol.id}}">
                    {{protocol.name}}
                </button>
            </h2>
            <div id="col{{protocol.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne">
                <div class="accordion-body">
                    {%for title in protocol.title.all%}
                  <h5>{{title.name}}</h5>
                  <p>{{title.description}}</p>
                    {%for image in title.image.all%}
                    {% if image.image.path %}
                   <img src="{{image.image.url}}" height="25%" width="25%" >
                    {% endif %}
                    {%endfor%}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
