{% extends "app4_ehpad_base/base_footer.html" %}
    {% load static %}
        {% load i18n %}


{% block content %}

<!-- <link rel="stylesheet" href="{% static 'app9/css/password.css' %}"> -->

<!--ERROR PASSWORD-->
<div class="pt-5">
    {% for error in password_form.old_password.errors %}
        <div class="alert alert-danger text-center" role="alert">
          <p>{{ error }}</p>
        </div>
    {% endfor %}

    {% for error in password_form.new_password1.errors %}
        <div class="alert alert-danger text-center" role="alert">
            <p>{{ error }}</p>
        </div>
    {% endfor %}

    {% for error in password_form.new_password2.errors %}
        <div class="alert alert-danger text-center" role="alert">
            <p>{{ error }}</p>
        </div>
    {% endfor %}
</div>
<!--- --->

<div class="d-flex justify-content-center">
    <div class="card-password login-form">

        <div class="card-password-body">
            <h3 class="card-password-title text-uppercase text-center pt-2 pb-4">{% trans "Change password" %}</h3>
            <div class="card-password-message">

                <form enctype="multipart/form-data" method="post">
                {% csrf_token %}

                    <div class="form-group">

                        <label class="pt-3 mb-2 form-label" for='id_old_password'>
                            {% trans "Old password" %} :
                        </label>
                        <input class="form-control" type='password' name='old_password' id='id_old_password'>

                        <label class="pt-3 mb-1 form-label" for='id_new_password1'>
                            {% trans "New password" %} : 
                            <img class="btn px-0" src="{% static 'app4_ehpad_base/img/bi/eye-fill.svg' %}" id="eye_icon1"
                                        onclick="togglePassword1()">
                        </label>
                        <input class="form-control" type='password' name='new_password1' id='id_new_password1'>

                        <label class="pt-3 mb-1 form-label" for='id_new_password2'>
                            {% trans "Confirm password" %} : 
                            <img class="btn px-0" src="{% static 'app4_ehpad_base/img/bi/eye-fill.svg' %}" id="eye_icon2"
                                        onclick="togglePassword2()">
                        </label>
                        <input class="form-control" type='password' name='new_password2' id="id_new_password2">

                    </div>

                    <div class="d-flex justify-content-center pt-3 pb-3">
                        <button type="submit" class="btn btn-perso">{% trans "Confirm" %}</button>
                        <a type="submit" class="btn btn-outline-danger ms-2" href="/profile/">{% trans "Cancel" %}</a>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>

<script>
    function togglePassword1() {
        var pwdfield = document.getElementById("id_new_password1");
        var eyeicon = document.getElementById("eye_icon1");
        if (pwdfield.type === "password") {
            eyeicon.src = "{% static 'app4_ehpad_base/img/bi/eye-slash-fill.svg' %}";
            pwdfield.type = "text";
        } else {
            eyeicon.src = "{% static 'app4_ehpad_base/img/bi/eye-fill.svg' %}";
            pwdfield.type = "password";
        }
    }

    function togglePassword2() {
        var pwdfield = document.getElementById("id_new_password2");
        var eyeicon = document.getElementById("eye_icon2");
        if (pwdfield.type === "password") {
            eyeicon.src = "{% static 'app4_ehpad_base/img/bi/eye-slash-fill.svg' %}";
            pwdfield.type = "text";
        } else {
            eyeicon.src = "{% static 'app4_ehpad_base/img/bi/eye-fill.svg' %}";
            pwdfield.type = "password";
        }
    }
</script>

{% endblock %}