{% extends "app4_ehpad_base/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<main class="d-flex flex-column align-items-center gap-2 p-3">
    <!--  sélection du menu  -->
    <div class="dropdown">
      <a class="btn btn-perso dropdown-toggle" href="#" role="button" id="menuSelection" data-bs-toggle="dropdown" aria-expanded="false">
        {% if menu %}
          {{ menu }}
        {% else %}
          {% trans "Select menu" %}
        {% endif %}
      </a>
      <ul class="dropdown-menu" aria-labelledby="menuSelection">
          {% for choice in history %}
            <li><a class="dropdown-item {% if choice == menu %}bg-lightblue{% endif %}" href="{% url 'service team' menu_id=choice.id %}">{{ choice }}</a></li>
          {% endfor %}
      </ul>
    </div>
    {% if menu %}
        {% if info %}
            <h3>{{ info }}</h3>
        {% else %}
            <form action="" method="post" class="d-flex flex-column align-items-center gap-2">{% csrf_token %}
                <div class="d-flex flex-wrap justify-content-evenly w-100 gap-3">
                    {% for user in list_staff %}
                        <input id="{{ user.id }}" class="btn-check" type="checkbox" value="{{ user.id }}" name="staff" {% if user in menu.photo_service.all %}checked{% endif %}>
                        <label class="btn btn-perso staff-btn" for="{{ user.id }}">
                            <div class="h-100 d-flex flex-column align-items-center">
                                <span class="fw-bold">{{ user.last_name }} {{ user.first_name }}</span>
                                <img src="{{ user.profile.get_photo_url }}" alt="{{ user.last_name }}" class="staff-pic rounded-3 my-auto">
                            </div>
                        </label>
                    {% endfor %}
                </div>
                <button class="btn btn-perso {% if not list_staff %}disabled{% endif %} mt-2" name="validate_staff">{% trans 'Validate staff' %}</button>
            </form>
        {% endif %}
    {% endif %}
</main>
{% endblock content %}
