{% extends "app4_ehpad_base/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<main class="mt-3 mx-2">
    <!--    boutons de sélection    -->
    <div class="d-flex justify-content-evenly gap-2">
        <!--     colonne gauche       -->
        <div class="d-flex flex-column gap-1">
            <a href="{% url 'New menu' %}" data-equalizer-watch class="btn btn-perso">
                <h5 class="my-1">{% trans 'Create new menu' %}</h5>
            </a>
            <a href="{% url 'Select menu' menu_id=0 %}" data-equalizer-watch class="btn btn-perso">
                <h5 class="my-1">{% trans 'Add photo to menu' %}</h5>
            </a>
            <a href="{% url 'service team' menu_id=0 %}" data-equalizer-watch class="btn btn-perso">
                <h5 class="my-1">{% trans 'Service team' %}</h5>
            </a>
            <a href="{% url 'New dish' %}" data-equalizer-watch class="btn btn-perso">
                <h5 class="my-1">{% if perms.app0_access.view_cuisineprice %}
                    {% trans 'Create / edit dishes' %}
                    {% else %}
                    {% trans 'Available dishes' %}
                    {% endif %}</h5>
            </a>
        </div>
        <!--      colonne droite      -->
        <div class="d-flex flex-column gap-1">
            <a href="{% url 'display reservation' %}" data-equalizer-watch class="btn btn-perso {% if not reservation %}disabled{% endif %}">
                <h5 class="my-1">
                    {% if not reservation %}
                        {% trans 'No reservations' %}
                    {% else %}
                        {% trans 'Availability of reservations ' %}
                    {% endif %}
                </h5>
            </a>
            <a href="{% url 'dll pdf reservation' %}" data-equalizer-watch class="btn btn-perso">
                <h5 class="my-1">{% trans 'Download reservation report' %}</h5>
            </a>
            <a href="{% url 'menu commission' %}" data-equalizer-watch class="btn btn-perso">
                <h5 class="my-1">{% trans 'Prepare menu commission' %}</h5>
            </a>
            <a href="{% url 'Dashboard evaluation' res_id=0 %}" data-equalizer-watch class="btn btn-perso">
                <h5 class="my-1">{% trans 'Dashboard menu' %}</h5>
            </a>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-wrap justify-content-evenly gap-2">
    <!--    nombre de convive du jour    -->
    <div class="d-flex justify-content-center gap-1">
        <!--     affichage convive de midi       -->
        <div>
            <div class="border border-darkblue rounded-3 text-center mx-2 px-4">
                <h4 class="menutype">{% trans 'Noon' %}</h4>
                <h5>{% trans 'Residents' %} : {{ today.resident }}</h5>
                <h5>{% trans 'Families' %} : {{ today.family_noon }}</h5>
                <h5>{% trans 'Employees' %} : {{ today.employee_noon }}</h5>
                <h5>{% trans 'Guests' %} : {{ today.guest_noon }}</h5>
                <hr class="w-25 mx-auto">
                <h5>{% trans 'Total' %} : {{ today.total_noon }}</h5>
            </div>
        </div>
        <!--      affichage convive du soir      -->
        <div>
            <div class="border border-darkblue rounded-3 text-center mx-2 px-4">
                <h4 class="menutype">{% trans 'Evening' %}</h4>
                <h5>{% trans 'Residents' %} : {{ today.resident }}</h5>
                <h5>{% trans 'Families' %} : {{ today.family_evening }}</h5>
                <h5>{% trans 'Employees' %} : {{ today.employee_evening }}</h5>
                <h5>{% trans 'Guests' %} : {{ today.guest_evening }}</h5>
                <hr class="w-25 mx-auto">
                <h5>{% trans 'Total' %} : {{ today.total_evening }}</h5>
            </div>
        </div>
    </div>
    <!--  tableau réservations hebdomadaire  -->
    <div class="d-flex flex-wrap justify-content-evenly mt-2">
        <div class="d-flex flex-wrap justify-content-center">
            <table class="table">
              <thead>
                <tr>
                    <!--           titres colonnes             -->
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">{% trans 'Residents' %}</th>
                  <th scope="col">{% trans 'Families' %}</th>
                  <th scope="col" title="{% trans 'Employees & meals offered (trainee, discovery day)' %}">{% trans 'Employees' %}</th>
                  <th scope="col" title="{% trans 'Management guests, prospects : unrelated to a resident' %}">{% trans 'Guests' %}</th>
                </tr>
              </thead>
                <tbody>
                {% for day in week %}
                    <tr {% if day.date == date_now %}class="bg-lightblue"{% endif %}>
                        <th scope="row">{{ day.date|date:'D d M' }}</th>
                        <th scope="row">{% trans 'Noon' %}</th>
                        <td>{{ day.resident }}</td>
                        <td>
                            <span {% if day.family_noon != 0 %}class='fw-bold'{% endif %}>{{ day.family_noon }}</span>
                        </td>
                        <td>
                            <span {% if day.employee_noon != 0 %}class='fw-bold'{% endif %}>{{ day.employee_noon }}</span>
                        </td>
                        <td>
                            <span {% if day.guest_noon != 0 %}class='fw-bold'{% endif %}>{{ day.guest_noon }}</span>
                        </td>
                    </tr>
                    <tr {% if day.date == date_now %}class="bg-lightblue"{% endif %}>
                        <th scope="row"></th>
                        <th scope="row">{% trans 'Evening' %}</th>
                        <td>{{ day.resident }}</td>
                        <td>
                            <span {% if day.family_evening != 0 %}class='fw-bold'{% endif %}>{{ day.family_evening }}</span>
                        </td>
                        <td>
                            <span {% if day.employee_evening != 0 %}class='fw-bold'{% endif %}>{{ day.employee_evening }}</span>
                        </td>
                        <td>
                            <span {% if day.guest_evening != 0 %}class='fw-bold'{% endif %}>{{ day.guest_evening }}</span>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            <!--       navigation         -->
            <form method="post" action="{% url 'Cuisine index' %}">{% csrf_token %}
                <div class="d-flex justify-content-center">
                    <input class="img-fluid me-5" name="previous" type="image" src="{% static 'app4_ehpad_base/img/fleche_gauche.png' %}" width="24em">
                    <input class="img-fluid ms-5" name="next" type="image" src="{% static 'app4_ehpad_base/img/fleche_droite.png' %}" width="24em">
                    <input name="start_date" value="{{ week.0.date.isoformat }}" hidden>
                </div>
            </form>
        </div>
    </div>
    </div>
</main>

{% endblock %}