{% extends "app4_ehpad_base/base_footer.html" %}

{% block content %}
{% load static %}
{% load i18n %}


<style>


</style>


<div class="container-xl pt-3 pt-md-4">

  <div class="pb-2 text-center">
    <h2 class="mb-0">{% trans "List of latest articles" %}</h2>
    <h5 class="text-black-50">Serenicia Blog</h5>
  </div>

  <div class="text-center my-3">
    <a href=" {% url 'create_post' act_id=0 %}" class="pb-5 text-center">
      <button type="button" class="btn btn-perso btn-lg">
        {% trans "Create a new Article" %}
      </button>
    </a>
  </div>

  <div class="activity_tab">
    {% if data %}

      <div class="px-xl-5">
        <!-- Indication case articles -->
        <div class="d-none d-md-flex align-items-center text-uppercase fw-semibold p-2">
          <div class="col-8 col-md-3 col-lg-4 d-flex justify-content-start align-items-center">{% trans "Title" %}</div>
          <div class="col-2 d-flex justify-content-center align-items-center text-center">{% trans "Creation date" %}</div>
          <div class="col-3 col-xl-2 d-flex justify-content-center align-items-center text-center ps-md-4 ps-lg-0">{% trans "Written by" %}</div>
          <div class="col-1 col-xl-2 d-none d-lg-flex justify-content-center align-items-center text-center">{% trans "Public" %} ?</div>
          <div class="col-2 col-md-2 col-lg-1 d-flex justify-content-center align-items-center"></div>
          <div class="col-2 col-md-2 col-lg-1 d-flex justify-content-center align-items-center"></div>
        </div>

        <!-- Détail des articles -->
        {% for post in data %}
          <div class="d-flex align-items-center ps-1 pb-1 p-md-2">
            <!-- Titre -->
            <div class="col-6 col-md-3 col-lg-4 d-flex justify-content-start align-items-center pe-3 pe-md-0">{{post.title}}</div>
            <!-- Créé par -->
            <div class="col-2 d-none d-md-flex justify-content-center align-items-center"><p class="text-center">{{post.created_on}}</p></div>
            <!-- Prénom Nom -->
            <div class="col-3 col-xl-2 d-none d-md-flex justify-content-center align-items-center"><p class="text-center pe-1 ps-md-4 ps-lg-0">{{post.author.first_name}}</p><p class="text-center">{{post.author.last_name}}</p></div>
            <!-- Public ? -->
            <div class="col-1 col-xl-2 d-none d-lg-flex justify-content-center align-items-center">{% if post.is_public %}Oui{% else %}Non{% endif %}</div>
            <!-- Modifier l'article -->
            <div class="col-3 col-md-2 col-lg-1 d-flex justify-content-center align-items-center">
              <a href=" {% url 'edit_post' post.id %}">
                <button type="button" class="btn btn-perso p-1">{% trans "Modify" %}</button>
              </a>
            </div>
            <!-- Supprimer l'article -->
            <div class="col-3 col-md-2 col-lg-1 d-flex justify-content-center align-items-center">
              <a href="#" data-bs-toggle="modal" data-bs-target="#delete{{post.id}}">
                <button type="button" class="btn btn-outline-danger p-1">{% trans "Remove" %}</button>
              </a>
              <!-- Modal to delete article -->
              <div class="modal fade" id="delete{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header d-flex justify-content-between align-items-center p-2">
                      <h5 class="modal-title text-center" id="exampleModalLabel"> &#x26A0; {% trans "An article is going to be deleted" %} &#x26A0;</h5>
                      <button type="button" class="close btn btn-link text-decoration-none" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="p-0">X</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h4 class="text-center">{% trans "Are you sure you want to delete" %}</h4>
                      <h4 class="text-center">"{{post.title}}" ?</h4>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-perso" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                      <a class="btn btn-sm btn-danger" href="{% url 'delete_post' post.id %}"><p class="p-1">{% trans "Remove" %}</p></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <!--PAGINATION-->
      <div class="mt-4 mb-3 d-flex flex-column flex-md-row justify-content-center justify-content-evenly align-items-center">
        {% if data.has_previous %}
          <div>
            <a class="btn btn-perso-p" href="?page=1">
              <p><< {% trans "first" %}</p>
            </a>
            <a class="btn btn-perso-p" href="?page={{ data.previous_page_number }}">
              <p>< {% trans "previous" %}</p>
            </a>
          </div>
        {% endif %}

        <div class="current">
          <p>{% trans "Page" %} {{ data.number }} {% trans "of" %} {{ data.paginator.num_pages }}</p>
        </div>

        {% if data.has_next %}
          <div>
            <a class="btn btn-perso-p" href="?page={{ data.next_page_number }}">
              <p>{% trans "next" %} ></p>
            </a>
            <a class="btn btn-perso-p" href="?page={{ data.paginator.num_pages }}">
              <p>{% trans "last" %} >></p>
            </a>
          </div>
        {% endif %}
      </div>

    {% else %}
      <div class="pb-2 text-center">
        <h2>{% trans "There are no recent posts" %}...</h2>
        <h5 class="text-black-50">{% trans "Please come back later" %}</h5>
      </div>
    {% endif %}
  </div>

</div>

{% endblock content %}

{% block endscript %}


{% endblock endscript %}