{% extends "app4_ehpad_base/base.html" %}{% load i18n %}
{% load static %}
{% block content %}
    <main class="d-flex flex-row">
        <div>
            {% include "./composant/navLeft.html" %}
        </div>
        <div class="container-fluid mt-2">
        <div class="container mt-5">
                        <form method="post" action="{% url 'benefit_create' %}">{% csrf_token %}
            {{formBenefit.as_p}}
                                                <br>
                    <button class="btn btn-perso">{% trans 'Save' %}</button>
                        </form>
            {% if is_created %}
                <br>
                <div class="d-flex flex-column justify-content-center align-items-center mb-5
     border border-darkblue rounded-3 mx-auto py-3 created">
                    <h4>{% trans 'Benefit created' %}</h4>
                </div>
            {% endif %}
        </div>
        </div>
    </main>

{% endblock content %}
