{% extends "app4_ehpad_base/base.html" %}{% load i18n %}
{% load static %}
{% block content %}
    <head>
        <style>
            .created {
                max-width: 400px;
            }

            ul.errorlist {
                display: none;
            }
        </style>
    </head>
    <main class="d-flex flex-row">
        <div>
            {% include "./composant/navLeft.html" %}
        </div>
        <div class="container mt-5 ms-3">
            <div class="badge mb-3 bg-lightblue text-wrap w-100">
                <h3> {% trans 'Listing customer' %}</h3></div>
            <div class="list-group">
                {% if user_for_delivery %}

                    {% for foo in user_for_delivery %}
                        <a href="{% url "account_delivery" foo.id %}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ foo.user.last_name }} {{ foo.user.first_name }}</h5>
                                <small class="text-muted">{{ foo.user.profile.city }}</small>
                            </div>
                            <p class="mb-1"></p>
                            <small class="text-muted">Somme rapporté</small>
                        </a>
                    {% endfor %}
                {% else %}
                    <a href="{% url "register_customer_delivery" %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{% trans 'Click here for register your first customer' %}</h5>
                        </div>
                        <p class="mb-1">{% trans "This message is here because you havn't customer register" %}</p>
                    </a>

                    </div>
                {% endif %}
        </div>
    </main>
{% endblock content %}
