{% extends "app4_ehpad_base/base.html" %}{% load i18n %}
{% load static %}
{% block content %}
    <head>
        <style>
            .created {
                max-width: 400px;
            }

            ul.errorlist {
                display: none;
            }
        </style>
    </head>
    <main class="d-flex flex-row">
        <div>
            {% include "./composant/navLeft.html" %}
        </div>
            {#    <div class="d-flex flex-column justify-content-center align-items-center gap-2">#}
            <div class="container mt-5">
                            <div class="card">
        <form method="post" action="{% url 'account_delivery_update' profile.pk %}">{% csrf_token %}

                                                    <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                        <div class="badge bg-lightblue text-wrap w-100">
                            <h3> {% trans 'Update to' %} {{ profile.user.last_name }}</h3></div>

                <div>
                    {% trans UserUpdateDeliveryForm.username.label_tag %}
                    {{ profile.user.username }}
                    <div>
                        {{ UserUpdateDeliveryForm.username }}
                    </div>
                </div>
                <div>
                    {% trans UserUpdateDeliveryForm.last_name.label_tag %}
                    {{ profile.user.last_name }}
                    <div>
                        {{ UserUpdateDeliveryForm.last_name }}
                    </div>
                </div>
                <div>
                    <div>
                        {% trans UserUpdateDeliveryForm.first_name.label_tag %}
                        {{ profile.user.first_name }}
                        <div>
                            {{ UserUpdateDeliveryForm.first_name }}
                        </div>
                    </div>
                </div>
                <div>
                    {% trans UserUpdateDeliveryForm.email.label_tag %}
                    {{ profile.user.email }}
                    <div>
                        {{ UserUpdateDeliveryForm.email }}
                    </div>
                </div>
                <div>
                    {% trans ProfileRegisterDeliveryForm.phone_number.label_tag %}
                    {{ profile.phone_number }}
                    <div>
                        {{ ProfileRegisterDeliveryForm.phone_number }}
                    </div>
                </div>
                <div>
                    {% trans ProfileRegisterDeliveryForm.adress.label_tag %}
                    {{ profile.adress }}
                    <div>
                        {{ ProfileRegisterDeliveryForm.adress }}
                    </div>
                </div>
                <div>
                    {% trans ProfileRegisterDeliveryForm.city.label_tag %}
                    {{ profile.city }}
                    <div>
                        {{ ProfileRegisterDeliveryForm.city }}
                    </div>
                </div>
                <div>
                    {% trans ProfileRegisterDeliveryForm.cp.label_tag %}
                    {{ profile.cp }}
                    <div>
                        {{ ProfileRegisterDeliveryForm.cp }}
                    </div>
                </div>
                <button class="btn btn-perso mb-3">{% trans 'Save' %}</button>
                                                    </div>
                            </div>
                <div class="mt-3"><a class="btn btn-perso"
                                     href="{% url "list_account_delivery" %}">{% trans 'Back to list profile' %}</a></div>
                <div class="mt-3"><a class="btn btn-perso"
                                     href="{% url "account_delivery" profile.pk %}">{% trans 'Back to profile' %}</a></div>
            </div>
        </form>


        <hr>
        </div>
        {% if UserRegisterDeliveryForm.errors or ProfileRegisterDeliveryForm.errors %}
            {% for field in UserRegisterDeliveryForm %}
                {% for error in UserRegisterDeliveryForm.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in ProfileRegisterDeliveryForm.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% elif error_adress %}
            <div class="grid-x grid-margin-x grid-padding-x mt-5">
                <div class="cell text-center small-centered medium-centered large-centered">
                    <h1>{% trans "address of user is " %}</h1>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock content %}
