#myTabContentSent {
   .accordion-body input {
      opacity: 0;
      position: absolute;
      pointer-events: none;
   }

   .recipients_list {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .accordion-body input:checked ~ .showing, .accordion-body .recipients_list:not(.truncated) ~ .showing {
      display:none;
   }

   .accordion-body input:checked ~ .hiding {
      display:inline-block !important;
   }

   .form-check-input:checked {
      background-color: $lightblue;
      border-color: $lightblue;
   }

   .danger:checked {
      background-color: red;
      border-color: red;
   }

   .btn-danger:hover {
      background-color: red !important;
      color: white !important;
   }

   .accordion-button {
      border-radius: 10px !important;
      border: none;
      padding: 0.25rem 0.5rem;
   }

   .accordion-collapse {
      border-top: none;
      border-bottom: none;
      border-left: 1px solid rgba(0, 0, 0, 0.125);
      border-right: 1px solid rgba(0, 0, 0, 0.125);
   }

   .accordion-button:focus {
      border-color: $lightblue;
      box-shadow: unset;
   }

   .accordion-button:not(.collapsed) {
      color: black;
      background-color: $white;
      border-radius: 10px;
   }

   .accordion-body {
      background-color: $white !important;
      border-radius: 10px;
   }

   .accordion-collapse {
      margin-bottom: 3em;
   }

   .accordion-button:not(.collapsed)::after {
      color: $lightblue;
   }

   #myTab {
      border-bottom: none;
   }
   
   .accordion-header {
      margin: 0px;
      border: solid 1px $lightblue;
      border-radius: 10px;
   }
   
   .accordion-header:hover {
      margin: 1em 0px;
      border: solid 1px $lightblue;
      transform: scale(1.005);
   }
   
   .accordion-collapse {
      border: solid 1px $lightblue;
      border-top: none;
      border-radius: 10px;
   }
   
   // .padding-sent {
   //    padding: 1rem 1.25rem;
   // }
   
   .nav-tabs .nav-link {
      border: solid 2px $lightblue;
      border-radius: 10px;
   }
   
   .answered {
      color: $lightblue;
      border: solid 1px $lightblue;
      border-radius: 10px;
   }
   
   .new:hover .plus {
      animation: zoom 1.3s 10;
   }
   
   @keyframes zoom {
      20% {
         transform: scale(0.4);
      }
      50% {
         transform: scale(1.8);
      }
   }
   
   .page-link.current {
      background-color: $lightblue !important;
      color: white;
   }

   .page-link {
      color: $lightblue;
      border: solid 1px $lightblue;
   }

   .page-link:hover {
      color: white;
      background-color: $lightblue !important;
   }

   .unopened-color {
      background-color: $lightblue;
   }

   .alert-info {
      max-width: 700px;
      margin: 10px auto;
   }

   .style1 {
      font-size:13px;
      color: gray;
   }

   .style2 {
      position: relative;
      top: 0;
      right: 0;
      text-align: right;
      flex: auto;
      margin-right: 5px;
   }

   .accordion-collapse {
      .recipients_list {
         -webkit-line-clamp: 1;
      }

      .style3 {
         word-break: break-all;
         background-color: white !important;
         border: 1px solid #93a9d2;
         padding: 5px;
         margin-top: 5px;
      }
   }

   .style4 {
      padding: 0px 42%;
   }
}


