#birthday {
    background-color: #93a9d2;
}

#birthday small.age {
    background-color: white;
    color: black;
}

#id_filter:focus {
    background: white;
}

#id_filtersector:focus {
    background: white;
}

#no_reco {
    background-color: rgba(211,211,211,1);
    width: 100px;
    height: 138px;
}

#no_reco_txt {
    color: black;
    font-size: small;
}

.top-label {
    width: 50px;
    cursor: default !important;
}

.select-resident-pic {
    max-height: 140px;
    width: auto;
}

.caracteristiques p {
    margin-bottom: 0.1em;
}

.etiquetteok {
    left: -3em;
    top: -3em;
}