.meal-pic {
    max-height: 200px;
    max-width: 250px;
}

.presentation-div {
    max-width: 750px;
}

.bi-camera-fill {
    width: 60px;
    height: auto;
}

.pic-fullscreen {
    max-width: 100%;
    max-height: 100%;
}

.capture-btn {
    width: 100px;
    height: 100px;
}