.labelinput {
    border-radius: 0.10px;
    height: 40px;
}

.btngroupday {
    width: 90px;
}

.arrow-btn {
    max-height: 38px;
}

.arrow-img {
    width: 24px;
    height: auto;
}

.btn-oldday {
    pointer-events: none;
    background-color: lightgray;
    border-color: gray;
}