{% extends 'app4_ehpad_base/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}


<div id="interventions_report">

    <!-- Titre de la page (Rapport infirmier) -->
    <div class="d-flex justify-content-center justify-content-md-end">
        <div class="section-titre d-inline-flex px-3 me-3">
            <h1 class="text-center mb-0">{% trans 'Intervention report' %}</h1>
        </div>
    </div>

    <!-- Choix entre "Recherche" et "Alertes" -->
    <div class="d-flex justify-content-center mt-3">
        <div  id="pills-tab" role="tablist">
            <button class="active btn-perso p-2 me-4" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">{% trans "To research" %}</button>
            <button class="btn-perso p-2 ms-4" id="pills-alert-tab" data-bs-toggle="pill" data-bs-target="#pills-alert" type="button" role="tab" aria-controls="pills-alert" aria-selected="false">{% trans "Alert" %}</button>
        </div>
    </div>
    
    <div id="pills-tabContent" class="tab-content mx-3">
        <div id="pills-home" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-home-tab">
    
            <!-- Recherche -->
            <form method="GET" class="largeur_max_recherche mx-auto mt-5">
                <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
                    {% for field in filter.form %}
                        <div class="d-flex flex-column">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-perso mx-auto mt-2">
                        {% trans 'Search' %}
                    </button>
                </div>
            </form>
            
            <!-- Tableau interventions -->
            {% if filter.qs %}
                <div class="largeur_max_tab mx-auto mt-5">
                    <div class="d-flex align-items-center pb-2 text-center fs-5">
                        <p class="col-4 col-md-2">{% trans "Date" %}</p>
                        <p class="col-4 col-md-2">{% trans "Resident" %}</p>
                        <p class="d-none d-md-block col-2">{% trans "Caregiver" %}</p>
                        <p class="col-4 col-md-3">{% trans "Intervention" %}</p>
                        <p class="d-none d-md-block col-3">{% trans "Detail" %}</p>
                    </div>
                    {% for intervention in filter.qs %}
                        {% if forloop.counter < 150 %}
                        <div class="d-flex align-items-center text-center py-1">
                            <p class="col-4 col-md-2">{% if intervention.end == None %} {{ intervention.start}} {% else %} {{intervention.end}} {% endif %}</p>
                            <p class="col-4 col-md-2">{{intervention.patient.first_name}} {{intervention.patient.last_name}}</p>
                            <p class="d-none d-md-block col-2">{{intervention.nurse.first_name}} {{intervention.nurse.last_name}}</p>
                            <p class="col-4 col-md-3">{{intervention.type.name}} {% if intervention.task_comment.all.0.content %}
                                <button type="button" class="btn btn-perso ms-2 p-1" data-bs-toggle="modal" data-bs-target="#intervention_modal{{forloop.counter}}">{% trans "Comment" %}</button> {% endif %}</p>
                            <p class="d-none d-md-block col-3">{{intervention.details.all.0.task_level_2.name}}</p>
                        </div>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="intervention_modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body d-flex justify-content-between align-items-center">
                                        {{intervention.task_comment.all.0.content}}
                                        <button type="button" class="btn btn-perso" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center mt-5">{% trans "There have been no interventions yet" %}</p>
            {% endif %}
        </div>

        <!-- Alertes interventions -->
        <div class="largeur_max_alerte mx-auto tab-pane fade mt-4" id="pills-alert" role="tabpanel" aria-labelledby="pills-alert-tab">
            <div class="accordion accordion-flush" id="accordion">
                {% for key, value in alerts.items %}
                <div class="accordion-item">
                    <h2 class="accordion-header mb-2" id="flush-headingOne">
                        {% if value.count > 0%}
                            <button class="accordion-button collapsed p-1 p-sm-2 p-md-3" type="button" data-bs-toggle="collapse" data-bs-target="#user{{forloop.counter}}" aria-expanded="false" aria-controls="{{forloop.counter}}"
                            style="background-color: {% if value.count < 4 %} #ffd95f {% else %} #ff5f5f {% endif %};">
                                {% if key.profile.civility == 'Mr' %}{% trans "Mr" %} {% elif key.profile.civility == 'Mrs' %}{% trans "Mrs" %}  {% else %}{% endif %}
                                {{key.first_name}}
                                {{key.last_name}}
                                -
                                {% if key.profile.client.room_number|stringformat:"s"|length == 4 %}
                                    {% if key.profile.client.room_number|stringformat:"s"|slice:"3:4" == "1" %}
                                        {{ key.profile.client.room_number|stringformat:"s"|slice:"0:3" }}F
                                    {% else %}
                                        {{ key.profile.client.room_number|stringformat:"s"|slice:"0:3" }}P
                                    {% endif %}
                                {% else %}
                                    {{ key.profile.client.room_number }}
                                {% endif %}
                            </button>
                        {% endif %}
                    </h2>
                    <div id="user{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="{{forloop.counter}}" data-bs-parent="#accordion">
                    <div class="accordion-body px-1 px-sm-2 px-md-3 pt-1 pb-2">
                        <ul>
                            {% if value.shower_alert == True %}
                                    <li>{% trans "Patient has not showered for 1 week" %} !</li>
                            {% endif %}
                            {% if value.pee_alert == True %}
                                    <li>{% trans "The patient has not peed for 1 week" %} !</li>
                            {% endif %}
                            {% if value.poop_alert == True %}
                                    <li>{% trans "The patient has not had a bowel movement for 1 week" %} !</li>
                            {% endif %}
                            {% if value.ground_alert == True %}
                                    <li>{% trans "Cleaning has not been done for 1 week" %} !</li>
                            {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>




{% endblock %}