{% extends "app4_ehpad_base/base_footer.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<div id="create_inventory" class="container pt-4">

    <div class="text-center text-uppercase mb-4">
        <h4 class="d-inline-flex inventory-titre pb-1 px-1 px-md-3">
            {% trans "Create or modify an inventory for" %}
            {% if user_resident.profile.civility == 'Mr' %}{% trans "Mr" %} {% elif user_resident.profile.civility == 'Mrs' %}{% trans "Mrs" %}  {% else %}{% endif %}
            {{ user_resident.first_name }}
            {{ user_resident.last_name }}
        </h4>
    </div>

    <div class="position-relative d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" action="{% url 'create_inventory' %}">
            {% csrf_token %}

            <!-- Linge -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "linen" %} :</h6>

                <p class="pb-1">{% trans "Laundry washing option" %} : {{ kit_form.laundry_washed }}</p>
                <p>{% trans "Laundry marking option" %} : {{ kit_form.laundry_labeled }}</p>
            </div>

            <!-- Matériel -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Equipment" %} :</h6>

                <p class="pb-1">{% trans "Hearing equipment" %} : {{ kit_form.hearing_equipment }}</p>
                <p class="pb-1">{% trans "Dental equipment" %} : {{ kit_form.dental_equipment }}</p>
                <p class="pb-1">{% trans "Cane" %} : {{ kit_form.cane }}</p>
                <p class="pb-1">{% trans "Wheelchair" %} : {{ kit_form.wheelchair }}</p>
                <p class="pb-1">{% trans "Walker" %} : {{ kit_form.walker }}</p>
                <p >{% trans "Glasses" %} : {{ kit_form.glasses }}</p>
            </div>

            <!-- Extérieur -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Outside" %} :</h6>

                <p class="pb-1">{% trans "Summer shoe" %} : {{ kit_form.summer_shoe }}</p>
                <p class="pb-1">{% trans "Winter shoe" %} : {{ kit_form.winter_shoe }}</p>
                <p class="pb-1">{% trans "Jacket" %} : {{ kit_form.jacket }}</p>
                <p >{% trans "Head cover" %} : {{ kit_form.head_cover }}</p>
            </div>

            <!-- Vêtements de jour -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Days clothing" %} :</h6>

                <p class="pb-1">{% trans "Pants" %} : {{ kit_form.pants }}</p>
                <p class="pb-1">{% trans "Pull" %} : {{ kit_form.pull }}</p>
                <p class="pb-1">{% trans "Long sleeve t-shirt" %} : {{ kit_form.t_shirt_long }}</p>
                <p class="pb-1">{% trans "Short sleeve t-shirt" %} : {{ kit_form.t_shirt_short }}</p>
                <p class="pb-1">{% trans "Long sleeve sweater" %} : {{ kit_form.sweater_long }}</p>
                <p >{% trans "Short sleeve sweater" %} : {{ kit_form.sweater_short }}</p>

                {% if user_resident.profile.civility == 'Mme' or user_resident.profile.civility == 'Mrs' %}
                    <p class="pt-1">{% trans "Skirt dress" %} : {{ kit_form.skirt_dress }}</p>
                {% endif %}
            </div>

            <!-- Vêtement de nuit -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Night clothing" %} :</h6>

                <p class="pb-1">{% trans "Nightdress" %} : {{ kit_form.nightdress }}</p>
                <p class="pb-1">{% trans "Dressing gown" %} : {{ kit_form.dressing_gown }}</p>
                <p class="pb-1">{% trans "Slipper" %} : {{ kit_form.slipper }}</p>
                <p >{% trans "Short sleeve t-shirt" %} : {{ kit_form.t_shirt_short }}</p>
            </div>

            <!-- Sous-vêtement -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Underwear" %} :</h6>

                <p class="pb-1">{% trans "Underwear" %} : {{ kit_form.underwear }}</p>

                {% if user_resident.profile.civility == 'Mme' or user_resident.profile.civility == 'Mrs' %}
                    <p class="pb-1">{% trans "Bra" %} : {{ kit_form.bra }}</p>
                {% endif %}
                
                <p >{% trans "Socks" %} : {{ kit_form.socks }}</p>
            </div>

            <!-- Enregistrer ou retour à l'accueil -->
            <div class="d-flex justify-content-center pt-2 pb-4">
                <button type="submit" class="btn btn-perso">{% trans "Save" %}</button>
                <a type="submit" class="btn btn-outline-secondary ms-2" href="/resident/">{% trans "Home" %}</a>
            </div>
        </form>
    </div>
</div>


{% endblock content %}