{% extends "app4_ehpad_base/base_footer.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<div class="container">
    {% for message in messages %}
        {% if "success" in message.tags %}
            <div class="container-fluid mt-3 alert border border-dark bg-lightblue text-uppercase fs-6 p-2">
                <div class="d-flex justify-content-between justify-content-md-evenly align-items-center green--line" aria-label="close">
                    {{ message }}
                    <a href="" class="close--cross fs-2" data-bs-dismiss="alert" aria-label="close p-1">&times;</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% if user_inventory %}
    <div class="container-fluid d-flex flex-column align-items-center pt-3 pb-5">

        <div class="text-uppercase">
            <h3 class="text-center inventory-titre pb-1 px-1 px-md-3 pt-2">
                {% trans "Inventory" %}
                {% trans "of" %}
                {% if user_resident.profile.civility == 'Mr' %}{% trans "Mr" %} {% elif user_resident.profile.civility == 'Mrs' %}{% trans "Mrs" %}  {% else %}{% endif %}
                {{ user_resident.first_name }}
                {{ user_resident.last_name }}
            </h3>
        </div>

        <div class="col pt-0 pb-4 d-flex justify-content-start pb-4">
            <h6 class="text-center">
                {% trans "Update" %}
                {% trans "the" %}
                {{ user_inventory.creation_date }}
                {% trans "by" %}
                {{ user_inventory.nurses.first_name }}
                {{ user_inventory.nurses.last_name }}
            </h6>
        </div>

        <div>
            <!-- Linge -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "linen" %} :</h6>

                <p class="pb-1">{% trans "Washing option" %} : {{ user_inventory.get_laundry_washed_display }}</p>
                <p>{% trans "Labeling option" %} : {{ user_inventory.get_laundry_labeled_display }}</p>
            </div>

            <!-- Matériel -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Equipment" %} :</h6>

                <p class="pb-1">{% trans "Hearing equipment" %} : {{ user_inventory.hearing_equipment }}</p>
                <p class="pb-1">{% trans "Dental equipment" %} : {{ user_inventory.dental_equipment }}</p>
                <p class="pb-1">{% trans "Cane" %} : {{ user_inventory.cane }}</p>
                <p class="pb-1">{% trans "Wheelchair" %} : {{ user_inventory.wheelchair }}</p>
                <p class="pb-1">{% trans "Walker" %} : {{ user_inventory.walker }}</p>
                <p>{% trans "Glasses" %} : {{ user_inventory.glasses }}</p>
            </div>

            <!-- Extérieur -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Outside" %} :</h6>

                <p class="pb-1">{% trans "Summer shoe" %} : {{ user_inventory.summer_shoe }}</p>
                <p class="pb-1">{% trans "Winter shoe" %} : {{ user_inventory.winter_shoe }}</p>
                <p class="pb-1">{% trans "Jacket" %} : {{ user_inventory.jacket }}</p>
                <p>{% trans "Head cover" %} : {{ user_inventory.head_cover }}</p>
            </div>

            <!-- Vêtements de jour -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Days clothing" %} :</h6>

                <p class="pb-1">{% trans "Pants" %} : {{ user_inventory.pants }}</p>
                <p class="pb-1">{% trans "Pull" %} : {{ user_inventory.pull }}</p>
                <p class="pb-1">{% trans "Long sleeve t-shirt" %} : {{ user_inventory.t_shirt_long }}</p>
                <p class="pb-1">{% trans "Short sleeve t-shirt" %} : {{ user_inventory.t_shirt_short }}</p>
                <p class="pb-1">{% trans "Long sleeve sweater" %} : {{ user_inventory.sweater_long }}</p>
                <p>{% trans "Short sleeve sweater" %} : {{ user_inventory.sweater_short }}</p>

                {% if user_resident.profile.civility == 'Mme' or user_resident.profile.civility == 'Mrs' %}
                    <p class="pt-1">{% trans "Skirt dress" %} : {{ user_inventory.skirt_dress }}</p>
                {% endif %}
            </div>

            <!-- Vêtement de nuit -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Night clothing" %} :</h6>

                <p class="pb-1">{% trans "Nightdress" %} : {{ user_inventory.nightdress }}</p>
                <p class="pb-1">{% trans "Dressing gown" %} : {{ user_inventory.dressing_gown }}</p>
                <p class="pb-1">{% trans "Slipper" %} : {{ user_inventory.slipper }}</p>
                <p>{% trans "Short sleeve t-shirt" %} : {{ user_inventory.t_shirt_short }}</p>
            </div>

            <!-- Sous-vêtement -->
            <div class="pb-4">
                <h6 class="text-uppercase fs-5 fw-semibold">{% trans "Underwear" %} :</h6>

                <p class="pb-1">{% trans "Underwear" %} : {{ user_inventory.underwear }}</p>

                {% if user_resident.profile.civility == 'Mme' or user_resident.profile.civility == 'Mrs' %}
                    <p class="pb-1">{% trans "Bra" %} : {{ user_inventory.bra }}</p>
                {% endif %}
                
                <p>{% trans "Socks" %} : {{ user_inventory.socks }}</p>
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <a href="{% url 'create_inventory' %}" class="btn btn-perso">
                {% trans "Modify" %}
            </a>
        </div>
    </div>

    
{% endif %}


{% endblock content %}