{% extends "app4_ehpad_base/base_footer.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<div class="laundry_management container pt-3">

    <div class="text-center">
        <h4 class="text-uppercase">{% trans "Laundry management" %}</h4>
        <p>{% trans "To create an inventory, select a resident then click on 'create inventory' in the resident's navigation bar" %}</p>
    </div>

    <div class="row pt-5">
        <div class="col">

            <div class="accordion accordion-flush position-relative d-flex flex-column bg-white" id="accordionFlushExample">
                <div class="accordion-item">

                    <div class="accordion-header border-bottom" id="flush-headingOne">
                        <button class="accordion-button accordion-button-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

                            <div class="col pt-0 pb-0 d-flex justify-content-start">
                                <h6 class="text-uppercase">{% trans "list of residents whose laundry is washed by the nursing home" %}</h6>
                            </div>

                        </button>
                    </div>

                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            {% for laundry_washed in laundry_washed %}
                                <ul class="text-start">
                                    <li style="list-style: square;">

                                        {{ laundry_washed.user_resident.last_name }} {{ laundry_washed.user_resident.first_name }}

                                        {% if laundry_washed.user_resident.profile.client.room_number %}
                                            -> {% trans "Room" %} {{ laundry_washed.user_resident.profile.client.room_number }}
                                        {% endif %}

                                    </li>
                                </ul>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="accordion-item">

                        <div class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button accordion-button-20 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <div class="col pt-0 pb-0 d-flex justify-content-start">
                                    <h6 class="text-uppercase">{% trans "list of residents whose laundry is marked by the nursing home" %}</h6>
                                </div>
                            </button>
                        </div>

                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {% for laundry_labeled in laundry_labeled %}
                                    <ul class="text-start">
                                        <li style="list-style: square;">
                                            {{ laundry_labeled.user_resident.last_name }} {{ laundry_labeled.user_resident.first_name }}
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}