{% extends "app4_ehpad_base/base_footer.html" %}
    {% load static %}
        {% load i18n %}


{% block content %}

<link rel="shortcut icon" href="{% get_static_prefix %}app4_ehpad_base/img/s.svg">

<style>

.login-form2 {
	width: 400px;
	height: 350px;
	margin: 20px;
	text-align: center;
	border-radius : 10px;
	border: 1px solid #000 !important;
}

.sign-up{
	text-align:center;
	padding: 20px 0 0;
}

span{
	font-size: 14px;
}

.submit-btn{
	margin-top: 20px;
}

.card-password {
    background-color: #93a9d2;
}

.btn--white {
    font-size: 14px;
    background: #FFF;
    letter-spacing: 0.5px;
    border-color:  #000000;
}

.btn--white:hover {
    background:  #93a9d2;
    letter-spacing: 0.5px;
    border-color:  #000000;
}
.logo {
    width: 410px !important;
}
</style>

<!--ERROR PASSWORD-->
<div class="pt-5">
    {% for error in form.new_password1.errors %}
        <div class="alert alert-danger text-center" role="alert">
            <p>{{ error }}</p>
        </div>
    {% endfor %}

    {% for error in form.new_password2.errors %}
        <div class="alert alert-danger text-center" role="alert">
            <p>{{ error }}</p>
        </div>
    {% endfor %}
</div>
<!--- --->

<div class="d-flex align-items-center flex-column">

        <div class="row">
          <img class="img-fluid logo"  src="{% static 'app4_ehpad_base/img/logo_serenicia.svg'%}" alt="{% trans 'Serenicia logo' %}">
        </div>

        <div class="row card-password login-form2 justify-content-center">

            <div class="card-password-body">
                <h3 class="card-password-title text-uppercase text-center pt-2 pb-2">{% trans "Change password" %}</h3>
                <div class="card-password-message">

                    <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}

                        <div class="form-group">

                            <label class="pt-3" for='id_new_password1'>{% trans "New password" %} : <img class="btn px-0" src="{% static 'app4_ehpad_base/img/bi/eye-fill.svg' %}" id="eye_icon1"
                                        onclick="togglePassword2()"></label>
                            <input type='password' name='new_password1' id='id_new_password1'>

                            <label class="pt-3" for='id_new_password2'>{% trans "Confirm password" %} : <img class="btn px-0" src="{% static 'app4_ehpad_base/img/bi/eye-fill.svg' %}" id="eye_icon2"
                                        onclick="togglePassword2()"></label>
                            <input type='password' name='new_password2' id="id_new_password2">

                        </div>

                        <div class="d-flex justify-content-center pt-5 pb-3">
                            <button type="submit" class="btn btn--white">{% trans "Confirm" %}</button>
                            <a type="submit" class="btn btn--white ms-2" href="/profile/">{% trans "Cancel" %}</a>
                        </div>

                    </form>

                </div>

            </div>
        </div>

</div>

<script>
    function togglePassword1() {
        var pwdfield = document.getElementById("id_new_password1");
        var eyeicon = document.getElementById("eye_icon1");
        if (pwdfield.type === "password") {
            eyeicon.src = "{% static 'app4_ehpad_base/img/bi/eye-slash-fill.svg' %}";
            pwdfield.type = "text";
        } else {
            eyeicon.src = "{% static 'app4_ehpad_base/img/bi/eye-fill.svg' %}";
            pwdfield.type = "password";
        }
    }

    function togglePassword2() {
        var pwdfield = document.getElementById("id_new_password2");
        var eyeicon = document.getElementById("eye_icon2");
        if (pwdfield.type === "password") {
            eyeicon.src = "{% static 'app4_ehpad_base/img/bi/eye-slash-fill.svg' %}";
            pwdfield.type = "text";
        } else {
            eyeicon.src = "{% static 'app4_ehpad_base/img/bi/eye-fill.svg' %}";
            pwdfield.type = "password";
        }
    }
</script>

{% endblock %}