{% load static %}
    {% load i18n %}

{% block content %}

<!-- Bootstrap SCSS -->
{% load compress %}

{% compress css %} 
    <link type="text/x-scss" href="{% static 'app1_base/scss/main.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

<!-- <link rel="stylesheet" href="{% static 'app1_base/css/bootstrap.css' %}"> -->
<link rel="shortcut icon" href="{% get_static_prefix %}app4_ehpad_base/img/s.svg">
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% if DOMAIN == "serenicia" %}
    <!-- <link rel="stylesheet" href="{% static 'app1_base/css/style.css' %}"> -->
{% else %}
    <link rel="stylesheet" href="{% static 'app1_base/css/alt_style_1.css' %}">
{% endif %}



<div class="password_reset pt-5">

  <div class="d-flex justify-content-center align-items-center">
    {% if DOMAIN == 'serenicia' %}
      <img class="img-fluid logo"  src="{% static 'app4_ehpad_base/img/logo_serenicia.svg'%}" alt="{% trans 'Serenicia logo' %}">
    {% else %}
      <img class="img-fluid mx-auto" src="{% get_static_prefix %}app1_base/img/logo_protecia_fg.jpg">
    {% endif %}
  </div>

  <div class="d-flex justify-content-center align-items-center">

    <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 pt-3">
      <div class="panel panel-default border border-dark bg-lightblue">

        <div class="panel-body">
          <div class="text-center pt-2">

            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">{% trans "Forgot Password" %}</h2>
            <p class="pt-3 pb-1 px-1">{% trans "To reset your password," %}</p>
            <p class="pb-1 px-1">{% trans "please enter your email" %}</p>

            <div class="panel-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group w-75 mx-auto">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email" name="email" placeholder="{% trans 'Email Adress' %}" class="form-control border border-dark rounded-3" type="email">
                  </div>
                </div>

                <div class="d-flex justify-content-evenly pt-4">
                  <button class="btn btn-perso">{% trans "Send email" %}</button>
                  <a href="{% url 'login' %}" class="btn btn-perso">{% trans "Cancel" %}</a>
                </div>

              </form>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>

{% endblock %}