{% extends "app4_ehpad_base/base_footer.html" %}
  {% load static %}
    {% load i18n %}

{% block content %}

<link rel="shortcut icon" href="{% get_static_prefix %}app4_ehpad_base/img/s.svg">

<style>
.container {
    padding-top: 60px;
}
.logo {
    width: 430px !important;
}
.panel {
    background-color: #93a9d2;
}
.btn--white {
    font-size: 14px;
    background: #FFF;
    letter-spacing: 0.5px;
    border-color:  #000000;
}

.btn--white:hover {
    background:  #93a9d2;
    letter-spacing: 0.5px;
    border-color:  #000000;
}
</style>

<div class="container">

    <div class="row justify-content-center align-items-center">
      <img class="img-fluid logo"  src="{% static 'app4_ehpad_base/img/logo_serenicia.svg'%}" alt="{% trans 'Serenicia logo' %}">
    </div>


    <div class="row justify-content-center text-align-center">

        <div class="col-6 col-md-4 pt-3 ps-3 pe-3">
            <div class="panel panel-default border border-dark rounded">

            <div class="panel-body">

                <h3 class="text-center pt-3">{% trans "Password reset sent" %}</h3>
                <p class="text-center pt-3">{% trans "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
                <p class="text-center pt-3">{% trans "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}</p>

                <div class="text-center pb-3">
                  <a href="{% url 'password_reset' %}" class="btn btn--white">{% trans "Back to previous page" %}</a>
                  <a href="{% url 'login' %}" class="btn btn--white">{% trans "Cancel" %}</a>
                </div>

            </div>



            </div>
        </div>

    </div>

</div>

{% endblock %}


