{% extends "app4_ehpad_base/base_footer.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<head>
    <style>
        .bi{
            width: 60px;
            height: 60px;
        }
    </style>
</head>
<main class="container mt-3">
    <div class="d-flex flex-wrap gap-3 justify-content-center">
        <a class="btn btn-perso" href="{% url 'select user' grp_id=0 %}">
            <div class="d-flex flex-column align-items-center gap-2">
                <svg viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <span>{% trans 'Manage users' %}</span>
            </div>
        </a>
        <a class="btn btn-perso" href="{% url 'select rights group' %}">
            <div class="d-flex flex-column align-items-center gap-2">
                <svg viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor">
                    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
                <span>{% trans 'Manage rights group' %}</span>
            </div>
        </a>
        {% if request.user.profile.advanced_user %}
            <a class="btn btn-perso" href="{% url 'select group by permission' %}">
                <div class="d-flex flex-column align-items-center gap-2">
                    <svg viewBox="0 0 16 16" class="bi bi-list-task" fill="currentColor">
                      <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                      <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                      <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                    </svg>
                    <span>{% trans 'See permissions' %}</span>
                </div>
            </a>
            <a class="btn btn-perso" href="{% url 'user types' %}">
                <div class="d-flex flex-column align-items-center gap-2">
                    <svg viewBox="0 0 16 16" class="bi bi-person-badge" fill="currentColor">
                      <path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 0 1 4.5 0h7A2.5 2.5 0 0 1 14 2.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2.5zM4.5 1A1.5 1.5 0 0 0 3 2.5v10.795a4.2 4.2 0 0 1 .776-.492C4.608 12.387 5.937 12 8 12s3.392.387 4.224.803a4.2 4.2 0 0 1 .776.492V2.5A1.5 1.5 0 0 0 11.5 1h-7z"/>
                      <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <span>{% trans 'User types' %}</span>
                </div>
            </a>
        {% endif %}
    </div>
</main>
{% endblock content %}