{% extends "app4_ehpad_base/base_footer.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<head>
    <style>
        .icon-size{
            height: 15px;
            width: auto;
        }
        .rounded-profile-pic{
            overflow: hidden;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>


<!-- Modal -->
<div class="modal fade" id="modalUsers">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">{% trans 'Users details' %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-wrap justify-content-center gap-2">
            {% for users_param in list_users %}
                {% for user in users_param.users %}
                <div class="border border-darkblue rounded-3 p-2">
                    <div class="d-flex">
                        {% if user.profile.photo %}
                            <img class="rounded-profile-pic" src="{{ user.profile.photo.url }}" alt="{% trans 'profile pic' %}">
                        {% endif %}
                        <div class="d-flex flex-column">
                            <a href="{% url 'modify user' user_id=user.id %}">{{ user.get_full_name }}</a>
                            <div class="d-flex">
                                <span>
                                    {% trans 'Active' %} :
                                    {% if user.is_active %}
                                        <svg viewbox="0 0 16 16" class="bi bi-check-circle-fill icon-size" fill={{users_param.fill}}>
                                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    {% else %}
                                        <svg viewbox="0 0 16 16" class="bi bi-check-circle-fill icon-size" fill={{users_param.fill}}>
                                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-perso" data-bs-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>


<main class="container mt-3">
    <div class="sticky-top-btn d-flex justify-content-between pb-4">
        <div class="d-flex">
            <a href="{% url 'select rights group' %}" class="btn btn-perso d-none d-md-block">{% trans 'Back' %}</a>
        </div>
        <button class="btn btn-perso" data-bs-toggle="modal" data-bs-target="#modalUsers">{% trans 'User' %}{{ nb_users|pluralize }} <span class="fw-bold">{{ nb_users }}</span></button>
    </div>

    <form class="d-flex flex-column align-items-center" action="" method="post">
        {% csrf_token %}
        <div class="w-75">
            <div class="d-flex justify-content-start">
                <input type="text" placeholder="{% trans 'Enter group name here' %}" name="group-name" value="{{ grp.name }}" required>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <h5>{% trans 'Rights and options' %}</h5>
            </div>
            <div class="mb-2">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="fw-bold text-nowrap">{% trans 'User type' %}</span>
                    <hr class="w-100 ms-2 rounded-3" style="height:3px;">
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    {{ type_form }}
                </div>
            </div>
            {% for app in apps %}
                <div class="mb-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="fw-bold text-nowrap">{{ app.app_name }}</span>
                        <hr class="w-100 ms-2 rounded-3" style="height:3px;">
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <div class="d-flex justify-content-end align-items-center">
                            <span>{{ app.description }}</span>
                            <input id="{{ app.code }}"  type="checkbox" class="ms-2" name="code" value="{{ app.code }}" {% if app.selected %}checked{% endif %} onclick="uncheckOption('{{ app.code }}.option')">
                        </div>
                        {% if app.option %}
                            <div class="d-flex justify-content-end align-items-center">
                                <span class="text-muted">{{ app.option }}</span>
                                <input id="{{ app.code }}.option" type="checkbox" class="ms-2" name="option" value="{{ app.code }}.option" {% if app.option_selected %}checked{% endif %} onclick="addCode('{{ app.code }}')">
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex align-items-center justify-content-end gap-2 mt-4">
                <button type="submit" class="btn btn-danger" name="delete" value="delete">{% trans 'Delete' %}</button>
                <a href="" class="btn btn-outline-warning">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn btn-perso">{% trans 'Save' %}</button>
            </div>
        </div>
    </form>
</main>


<script>
    function addCode(codename){
        document.getElementById(codename).checked = true;
    }

    function uncheckOption(codename){
        if (document.getElementById(codename)){
            document.getElementById(codename).checked = false;
        };
    }
</script>


{% endblock content %}