{% extends "app4_ehpad_base/base.html" %}
{% load i18n %}
{% load custom_filters %}


{% block content %}

<main class="m-1 m-sm-2 m-md-3">

    <form method="POST" name="access" class="d-flex justify-content-center align-items-center">
        {% csrf_token %}
        <select name="access" class="form-select btn btn-perso w-auto m-3 pe-5" aria-label="Default select example" onchange="this.form.submit()">
            {% for access_option in accesss %}
                <option value="{{ access_option }}" {% if access == access_option %}selected{% endif %}>
                    {% if access_option in access_labels %}
                        {{ access_option }}
                    {% endif %}
                </option>
            {% endfor %}
        </select>

        <p>{% trans 'Viewing' %} : {{ access_labels|get_dict_value:access }}</p>
    </form>

    <div class="d-flex flex-wrap justify-content-center">
        {% for rel in rels %}
            {% with caregiver=rel.0 residents=rel.1 %}
                <div class="d-flex border border-1 border-dark m-2">
                    <div class="border-end border-1 p-3">
                        {{ caregiver.first_name }}
                        {{ caregiver.last_name }}
                        <br>
                        {% if caregiver.profileserenicia.UP_volunteer %}
                            [UP]
                        {% endif %}
                    </div>
                    <div class="p-3">
                        {% for resident in residents %}
                            <!--{{ forloop.counter }} | -->
                            {% if resident.profile.civility == 'Mr' %}{% trans "Mr" %} {% elif resident.profile.civility == 'Mrs' %}{% trans "Mrs" %}  {% else %}{% endif %}
                            <!-- {{ resident.first_name }} -->
                            {{ resident.last_name }}
                            [N°{{ resident.profile.client.room_number }}]
                            <br>
                        {% endfor %}
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
</main>

{% endblock content %}