{% extends "app3_messaging/mails_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<main style="margin: 10px 10px 40px 10px; font-size:18px;">
    <form  action="" method="post" name="creategroup" class="row creategroup" id="creategroupform" enctype="multipart/form-data" style="margin-left:2px; margin-right:2px;">
        {% csrf_token %}
        <div class="asideselectrecipient col-sm-3" style="padding: 0px; margin:20px 0px 10px 0px;">
            <div>
                {% if customgroups %}
                    <div class="col-sm-12 d-flex flex-column align-items-center mb-3" style="padding: 1em; box-shadow: 0 5px 5px rgba(0, 0, 0, .2), 0 5px 5px rgba(0, 0, 0, .2); border-radius:10px;">
                        <h1 class="mb-4" style="box-shadow: inset 0 -0.2em 0 #93a9d2">{% trans 'Custom groups' %}:</h1>
                        <div class="w-100" style="height:100%; max-height: 300px; overflow-x:scroll;">
                            {% for g in customgroups %}
                            <label class="dropdown-item text-wrap" style="overflow-wrap: break-word; padding-left: 5px; padding-right: 0px;">
                                <input class="group-{{forloop.counter}} form-check-input me-1 green" id="grp{{ g.id }}" name="customgroups[]" type="checkbox" value="{{ g.id }}" onchange="toggleRelatedUsers('{{ g.get_members_id }}', '', this.checked)">
                                {{ g.name }}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="col-sm-12 d-flex flex-column align-items-center mb-3" style="padding: 1em; box-shadow: 0 5px 5px rgba(0, 0, 0, .2), 0 5px 5px rgba(0, 0, 0, .2); border-radius:10px;">
                    <h1 class="mb-4" style="box-shadow: inset 0 -0.2em 0 #93a9d2">{% trans 'Groups' %}:</h1>
                    <div class="w-100" style="height:100%; max-height: 300px; overflow-x:scroll;">
                        {% for g in allgroups %}
                        <label class="dropdown-item text-wrap" style="overflow-wrap: break-word; padding-left: 5px; padding-right: 0px;">
                            <input class="group-{{forloop.counter}} form-check-input me-1 green" id="id{{g.id}}parent" name="groups[]" type="checkbox" value="{{g.id}}">
                            {{g}}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-12 d-flex flex-column align-items-center" style="padding: 1em; box-shadow: 0 5px 5px rgba(0, 0, 0, .2), 0 5px 5px rgba(0, 0, 0, .2); border-radius:10px; ">
                    <h1 class="mb-4" style="box-shadow: inset 0 -0.2em 0 #93a9d2">{% trans 'Users' %}:</h1>
                    <input class="col-sm-12 mb-2" style="width:100%; border: solid 1px #93a9d2; border-radius:10px;" type="text" id="searchnames" placeholder="{% trans 'Look up users...' %}">
                    <div class="w-100" style="height:100%; max-height: 300px; overflow-x:scroll;">
                        {% for u in compiledusers %}
                            <label class="dropdown-item {% if u.last_name and u.first_name %}text-wrap{% else %}text-truncate{% endif %} labelname" id="checkbox{{forloop.counter}}_label" style="overflow-wrap: break-word; padding-left: 5px; padding-right: 0px;">
                                <input class="checkbox{{forloop.counter}} green form-check-input me-1 checkboxes-recipients recipientsmessage" id="user{{ u.id }}" type="checkbox" value="{{u.get_username}}" name="recipients[]">
                                {% if u.last_name and u.first_name %}
                                    {{ u.last_name }} {{ u.first_name }}
                                {% else %}
                                    {{ u.username }}
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group  col-sm-9" style="padding-right:0px;">
            <div class="container mt-4 mb-4">
                <div class="row justify-content-md-center">
                    <div class="col-sd-12">
                        <label for="group_name">{% trans 'Custom group name' %}:</label>
                        <input class="form-control" type="text" id="group_name" name="group_name" maxlength="120" required>
                        <button type="submit" name="creategroup" id="creategroup" class="btn btn-perso" style="margin:10px;">{% trans 'Create group' %}</button>
                        <ul class="dynamic list-group " style="flex-direction: row!important;padding-top: 10px; flex-wrap: wrap; max-height: 70%;"></ul>

                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

<script type="text/javascript" src="{% static 'app5/utils.js' %}"></script>
{% endblock %}