{% extends "app3_messaging/mails_base.html" %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block extralink %}
    {% include 'app3_messaging/tinymce.html' %}
{% endblock extralink %}

{% block content %}
<style>
    .rounded-profile-pic{
            overflow: hidden;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
</style>
<main id="internalmail" class="m-3">

    <form  action="" method="post" {% if not convo_id %} name="envoidemessage" {% else %} name="reponsemessage" {% endif %} class="d-flex justify-content-center envoidemessage" id="envoidemessage" enctype="multipart/form-data">
        <input type="hidden" name="convo_id" value="{{convo_id}}">
        {% csrf_token %}
<!--        <div class="asideselectrecipient col-md-3 offset-md-0 col-sm-6 offset-sm-3 p-0">-->

<!--            &lt;!&ndash; LEGENDE &ndash;&gt;-->
<!--            {% if perms.app0_access.view_manager %}-->
<!--                <div class="my-4">-->
<!--                    <div class="row fw-bold">{% trans "Aid" %} :</div>-->
<!--                    <div class="row">{% trans 'Recipients' %} :&nbsp;<div class="form-check-input me-1 bg-lightblue border-lightblue" type="checkbox"></div></div>-->
<!--                    <div class="row">{% trans 'Copy' %} :&nbsp;<div class="form-check-input me-1 bg-grey border-grey" type="checkbox"></div></div>-->
<!--                </div>-->
<!--            {% endif %}-->
<!--            <div>-->

                <!-- GROUPES -->
<!--                {% if not perms.app0_access.view_family %}-->
<!--                    <div class="style1 col-sm-12 d-flex flex-column align-items-center mb-3">-->
<!--                        <h1 class="style2 mb-4">{% trans 'Groups' %}:</h1>-->
<!--                        <div class="mb-0 d-flex flex-start w-100"><p class="me-2 mb-0 ms-1 fw-lighter">À</p> {% if perms.app0_access.view_manager %}<p class="mb-0 fw-lighter">Cc</p> <p class="ms-2 mb-0 fw-lighter">Cci</p>{%endif%} </div>-->
<!--                        <div class="style2 w-100">-->
<!--                            {% for g in allgroups %}-->
<!--                            <label class="style3 dropdown-item text-wrap cursorpointer">-->
<!--                                <input class="gr{{ g.id }} form-check-input me-1 green cursorpointer" id="grp{{ g.id }}" type="checkbox" value="{{ g.id }}" name="group_recipients[]" onchange="toggleRelatedUsers('{{ g.get_members_id }}', '', this.checked)" {% if g.id|slugify in receivergroup %}checked{% endif %}>-->
<!--                                {% if perms.app0_access.view_manager %}-->
<!--                                <input class="gr{{ g.id }} form-check-input me-1 gray cursorpointer" id="grp{{ g.id }}CC" type="checkbox" value="{{ g.id }}" name="group_recipients_CC[]" onchange="toggleRelatedUsers('{{ g.get_members_id }}', 'CC', this.checked)" {% if g.id|slugify in receivergroup %}checked{% endif %}>-->
<!--                                <input class="gr{{ g.id }} form-check-input me-1 black cursorpointer" id="grp{{ g.id }}CCI" type="checkbox" value="{{ g.id }}" name="group_recipients_CCI[]" onchange="toggleRelatedUsers('{{ g.get_members_id }}', 'CCI', this.checked)" {% if g.id|slugify in receivergroup %}checked{% endif %}>-->
<!--                                {% endif %}-->
<!--                                {{g.name}}-->
<!--                            </label>-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {% endif %}-->

                <!-- UTILISATEURS -->
<!--                <div class="style 1 col-sm-12 d-flex flex-column align-items-center">-->
<!--                    <h1 class="style-2 mb-4">{% trans 'Users' %}:</h1>-->
<!--                    <input class="style-4 col-sm-12 mb-2" type="text" id="searchnames" placeholder="{% trans 'Look up users...' %}">-->
<!--                    <div class="mb-0 d-flex flex-start w-100"><p class="me-2 mb-0 ms-1 fw-lighter">À</p> {% if perms.app0_access.view_manager %}<p class="mb-0 fw-lighter">Cc</p> <p class="ms-2 mb-0 fw-lighter"> Cci</p>{% endif %}</div>-->
<!--                    <div class="style2 w-100">-->
<!--                        {% with message_answer|get_inter_of_x:'sender' as sender %}-->
<!--                            {% for u in compiledusers %}-->
<!--                                <label class="style3 dropdown-item text-wrap text-truncate labelname">-->
<!--                                    <input class="u{{forloop.counter}} green form-check-input me-1 checkboxes-recipients recipientsmessage"-->
<!--                                           id="user{{ u.id }}" type="checkbox" value="{{u.get_username}}" name="recipients[]" onchange="toggleSingleUser('{{ u.id }}', '', this.checked)" {% if u == sender or u.get_username in receiver %}checked{% endif %}>-->
<!--                                    {% if perms.app0_access.view_manager %}-->
<!--                                        <input class="u{{forloop.counter}} gray form-check-input me-1 checkboxes-recipients recipientsmessage"-->
<!--                                               id="user{{ u.id }}CC" type="checkbox" value="{{u.get_username}}" name="recipientsCC[]" onchange="toggleSingleUser('{{ u.id }}', 'CC', this.checked)" {% if u.get_username in receiverCC %}checked{% endif %}>-->
<!--                                        <input class="u{{forloop.counter}} black form-check-input me-1 checkboxes-recipients recipientsmessage"-->
<!--                                               id="user{{ u.id }}CCI" type="checkbox" value="{{u.get_username}}" name="recipientsCCI[]" onchange="toggleSingleUser('{{ u.id }}', 'CCI', this.checked)" {% if u.get_username in receiverCC %}checked{% endif %}>-->
<!--                                    {% endif %}-->
<!--                                    {% if u.last_name and u.first_name %}-->
<!--                                        {{u.last_name}} {{u.first_name}}-->
<!--                                    {% else %}-->
<!--                                        {{u.username}}-->
<!--                                    {% endif %}-->
<!--                                </label>-->
<!--                            {% endfor %}-->
<!--                        {% endwith %}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        {% if convo_id %}
        <input type ="hidden" name="message_answer" value="{{message_answer.id}}">
        {% endif %}
        <div class="form-group col-sm-9 pe-0">
            <div class="container mt-4 mb-4">
                <div class="row justify-content-md-center">
                    <div class="col-sd-12">
<!--                        {% if not perms.app0_access.view_family and convo_id %}-->
<!--                            <div class="custom-control custom-radio">-->
<!--                                {% trans "Recipients" %} :<br>-->
<!--                                <input type="checkbox" id="recipients_all" name="recipients" class="answer custom-control-input form-check-input green" value="all" onclick="toggleRelatedUsers('{{ message_answer.get_members_id }}', '', this.checked)">-->
<!--                                <label class="custom-control-label" for="recipients_all">-->
<!--                                    {% trans 'Answer to all' %}-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="custom-control custom-radio">-->
<!--                                {% with message_answer|get_inter_of_x:'sender' as sender %}-->
<!--                                    <input type="checkbox" id="recipients_sender" name="recipients" class="answer custom-control-input form-check-input green" value="sender" onclick="toggleSenderOnly('{{ message_answer.get_members_id }}', '{{ sender.id }}', this.checked)" checked>-->
<!--                                    <label class="custom-control-label" for="recipients_sender">-->
<!--                                        {% trans 'Answer only to' %} {{ sender.get_full_name }}-->
<!--                                    </label>-->
<!--                                {% endwith %}-->
<!--                            </div>-->
<!--                        {% endif %}-->
                        <span>{% trans 'Receiver' %}{{ receivercount|pluralize }} :</span>
                        <div class="d-flex align-items-center">
                            <span id="displayed-names" class="d-flex flex-wrap">
                                {% for user in receiver|slice:":5" %}
                                    {{ user.get_full_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% if receiver|length > 5 %}
                                    <button id="see-more" class="btn btn-link" type="button" onclick="toggleNames(this.id)">{% trans 'see more' %}</button>
                                {% endif %}
                            </span>
                            <span id="hidden-names" class="d-flex flex-wrap d-none">
                                {% for user in receiver %}
                                    {{ user.get_full_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                <button id="see-less" class="btn btn-link d-none" type="button" onclick="toggleNames(this.id)">{% trans 'see less' %}</button>
                            </span>
                            {% if not convo_id %}
                                <a href="{% url 'internal_emailing_receiver' mod='modify' %}" class="btn btn-perso ms-2">{% trans 'Modify' %}</a>
                            {% endif %}
                        </div>

                        <label for="subject">
                            {% trans 'Message subject' %} :
                        </label>
                        <input class="form-control" type="text" id="subject" value="{{ subject }}"  name="subject" maxlength="120" required>
                        <label for="tags_input">
                            {% trans 'Message tags' %} :
                        </label>
                        <input id="tags_input" class="form-control" name="tags_input">
                        <div class="form-group editor mt-4">
                            <textarea class="d-none" id="editor" name="content">
                                {{ content_text }}
                            </textarea>
                        </div>
                        <div class="d-flex gap-3 align-items-center mt-2">
                            {% if receivercount %}
                                <button type="submit" name="envoidemessage" id="envoidemessagebutton" class="btn btn-perso">{% trans 'Send to' %} <span id="checked-count">{{ receivercount }}</span> {% trans 'people' %}{{ 2|pluralize }}</button>
                            {% elif not convo_id %}
                                <button type="submit" name="envoidemessage" id="envoidemessagebutton" class="btn btn-perso disabled">{% trans 'Send to' %} <span id="checked-count">0</span> {% trans 'people' %}{{ 2|pluralize }}</button>
                            {% else %}
                                <button type="submit" name="reponsemessage" id="envoidemessagebutton" class="btn btn-perso">{% trans 'Send to' %} <span id="checked-count">1</span> {% trans 'people' %}</button>
                            {% endif %}
                            <div id="fileInputParentDiv">
                              {{ form }}
                                <div class="d-flex flex-column">
                                    <div>
                                        <label id="file-btn" class="btn btn-perso" for="{{ form.attachment.id_for_label }}">
                                            {% trans 'Add attachments' %}
                                        </label>
                                        <span id="file-value"></span>
                                    </div>
                                    <span class="text-muted">
                                        {% trans 'Maximum 10MB per file' %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

{% include 'app3_messaging/tagify.html' %}

<script type="text/javascript" src="{% static 'app3_messaging/utils.js' %}"></script>
<script>
    var uploadField = document.getElementById("fileUpload");

    uploadField.onchange = function() {
        let file_nb = this.files.length;
        let value = "";
        let span = document.getElementById("file-value");
        for(var i=0; i<file_nb; i++){
            if(this.files[i].size > one_mo*10){
                alert('{% trans 'File too large : 10MB max' %}');
                this.value = "";
                span.textContent = "";
                return
            }else{
                value += this.files[i].name + ', ';
            };
        };
        span.textContent = value;
    };

    function toggleNames(id){
        const names = document.getElementById('hidden-names');
        const displayed = document.getElementById('displayed-names');
        const more = document.getElementById('see-more');
        const less = document.getElementById('see-less');
        if(id == 'see-more'){
            displayed.classList.add('d-none');
            names.classList.remove('d-none');
            more.classList.add('d-none');
            less.classList.remove('d-none');
        }else{
            displayed.classList.remove('d-none');
            names.classList.add('d-none');
            more.classList.remove('d-none');
            less.classList.add('d-none');
        };
    };
</script>
{% endblock %}