{% extends "app3_messaging/mails_base.html" %}
{% load i18n %}
{% load custom_filters %}

{% block content %}

<main class="m-3">
<!--        CSRF IS NEEDED TO SEND COOKIE WHEN WE OPEN THE EMAIL, DONT TAKE IT OFF-->
    {% csrf_token %}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade {% if not is_sent %}show active{% endif %}" id="received" role="tabpanel" aria-labelledby="received-tab">
            <div class="list-group">
                <div class="accordion" id="accordionreceived">
                    <form action="" method="post" name="search_form" class="row search col-sm-12 col-lg-6 mt-2" id="search_form">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="{% trans 'Look up messages with' %}..."
                                   aria-label="Search bar" aria-describedby="input_search">
                            <button type="submit" name="search_form" class="input-group-text btn-perso" id="input_search">
                                {% trans 'Search' %}
                            </button>
                            {% if search %}
                            <a href="" class="btn btn-outline-danger" type="button">{% trans 'Cancel' %}</a>
                            {% endif %}
                        </div>

                    </form>
                    {% if search %}
                    <span class="badge rounded-pill bg-warning">{{search}}</span>
                    {% endif %}
                    {% if not page_obj_received %}
                        <div class="alert alert-info my-3" role="alert">
                            <p>{% trans 'You have yet to receive any Message' %}</p>
                        </div>
                    {% endif %}
                    {% for convo in list_convos %}
                        {% with inter=convo.0|get_inter_of_x:user sender=convo.0|get_inter_of_x:'sender' %}
                                <div class="accordion-header row mail{{convo.0.message_conversation.id}}" id="headingX{{forloop.counter}}">
                                    <div class="accordion-button {% if inter.user_type != 'sender' and not inter.date_opened %}fw-bold{%endif%} collapsed" data-bs-toggle="collapse" data-bs-target="#collapseX{{forloop.counter}}"
                                         aria-expanded="true" aria-controls="collapseX{{forloop.counter}}" {% if inter.user_type != 'sender' and not inter.date_opened %}onclick="messageRead('{% url 'internal_emailing_opened' conv_id=convo.0.message_conversation.id %}', 'button-{{forloop.counter}}', {{ request.session.unopened_notifs }})"{% endif %} id="button-{{forloop.counter}}">
                                        <p class="col-2 mb-0 d-none d-md-block">
                                            <img class="style1 col-3 rounded-circle me-2" src="{{ sender.profile.get_photo_url }}">{{ sender.get_full_name }}
                                        </p>
                                        <p class="col-8 mb-0 object">
                                            {% if inter.user_type == 'CC' %}CC : {% elif inter.user_type == 'CCI' %}CCI : {% elif inter.user_type == 'sender' %}<span class="answered p-1">{% trans 'ANSWERED'%}</span>{%endif%} {% if convo.0.is_support %}{% trans 'Support' %} : {% endif %}{{ convo.0.subject }}

                                            {% for tag in convo.0.tags.all %}
                                            <span class="badge rounded-pill bg-lightblue">{{tag.name}}</span>
                                            {% endfor %}
                                        </p>
                                        <p class="style2 col-2 mb-0 date">
                                            {% if inter.user_type != 'sender' %}<span class="d-xs-block d-md-none">{{ sender.get_full_name }} {% trans 'on' %}</span>
                                                        {% else %}{% trans 'Sent on' %}{% endif %}&nbsp;{{ convo.0.date_sent }}
                                        </p>
                                    </div>
                                </div>
                        {% endwith %}
                        <div id="collapseX{{forloop.counter}}" class="accordion-collapse collapse"
                             aria-labelledby="headingX{{forloop.counter}}" data-parent="#accordionreceived">
<!--                                    ADDING PADDING +10px FOR COUNTER LOOP-->
                            <div class="accordion-body">
                                {% for msg in convo|slice:":3" %}
                                    {% with inter=msg|get_inter_of_x:user sender=msg|get_inter_of_x:'sender' %}
                                        <div id="message{{forloop.counter}}" style="{% if forloop.counter > 1 %} padding-left:{{forloop.counter}}vw; {% endif %}">
                                        {% if not forloop.first %}
                                            <hr class="border border-dark w-100">
                                        {% endif %}
                                        {% if inter.user_type != 'sender' %}
                                            <span class="sender fw-bold">{% trans 'Message from' %} {{ sender.get_full_name }}:</span><br>
                                        {% endif %}

                                        <span class="fw-bold">{% trans 'Sent on' %} {{msg.date_sent}}</span><br>
                                        {% if msg.intermediate_set.all|length > 1 or inter.user_type == 'sender' %}
                                            <!--Affichage destinataires-->
                                            <input type="checkbox" id="expanded_convo{{ forloop.parentloop.counter }}-{{ forloop.counter }}" onclick="clamping(this, recipients_list{{ forloop.parentloop.counter }}_{{ forloop.counter }})" hidden>
                                            <p class="reduced recipients_list m-0" id="recipients_list{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                                                <span
                                                    class="fw-bold">
                                                    {% if inter.user_type == 'sender' %}
                                                    {% trans 'Message to' %}:
                                                    {% else %}
                                                    {% trans 'Also sent to:' %}
                                                    {% endif %}
                                                </span>
                                                {% for intermediate in msg.intermediate_set.all %}
                                                    {% if user.username != intermediate.recipient.username and intermediate.user_type != 'sender' and intermediate.user_type != 'CCI' %}
                                                        <span class="senderrecipients"
                                                              style="{% if intermediate.date_opened %}color:gray;{% endif %}{% if perms.app0_access.view_family and intermediate.recipient.email %}text-decoration: underline;{%endif%}"
                                                              {% if intermediate.date_opened and perms.app0_access.view_family and intermediate.recipient.email %}
                                                                    title="{% trans 'Opened on' %} {{intermediate.date_opened}} | {% trans 'Notified by e-mail on' %} {{intermediate.recipient.email}}"
                                                              {% else %}
                                                                  {% if intermediate.date_opened %}
                                                                    title="{% trans 'Opened on' %} {{intermediate.date_opened}}"
                                                                  {% elif perms.app0_access.view_family and intermediate.recipient.email %}
                                                                    title="{% trans 'Notified by e-mail on' %} {{intermediate.recipient.email}}"
                                                                  {% endif %}
                                                              {% endif %}>

                                                            {% if intermediate.user_type != 'sender' and intermediate.user_type != 'default' %}
                                                            {{intermediate.user_type}}: {% endif %}{{intermediate.recipient.get_full_name}}

                                                        </span>
                                                        {% if forloop.last %}.{% else %}, {% endif %}
                                                    {%endif%}
                                                {% endfor %}
                                            </p>
                                            <label for="expanded_convo{{ forloop.parentloop.counter }}-{{ forloop.counter }}" role="button" class="btn btn-perso showing">{% trans 'See more' %}</label>
                                            <label for="expanded_convo{{ forloop.parentloop.counter }}-{{ forloop.counter }}" role="button" class="btn btn-perso hiding d-none">{% trans 'See less' %}</label>
                                            <hr class="w-0 m-0">
                                            <!--Fin affichage destinataires-->
                                        {% endif %}
                                        <span class="fw-bold">{% trans 'Subject:' %} {{msg.subject}}</span><br>
                                        {% if msg.tags %}
                                            <span>{% trans 'Tags' %}:
                                                {% for tag in msg.tags.all %}
                                                <span class="badge rounded-pill bg-lightblue">{{tag.name}}</span>
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                        <div class="border border-darkblue rounded-3 p-2">
                                            {{msg.content|safe}}
                                        </div>
                                            {% if msg.intraemailattachment_set.all %}
                                                <span class="fw-bold">{% trans 'Attachments' %}:</span>
                                                {% for file in msg.intraemailattachment_set.all %}
                                                    <a href="{{ file.attachment.url }}" class="text-center" download>
                                                        {% if file.name %}{{ file.name }}{% else %} {% trans 'Attachment' %} {{forloop.counter}}{% endif %}
                                                    </a>{% if forloop.last %}.{% else %},{% endif %}&nbsp;
                                                {% endfor %}
                                            {% endif %}
                                            <div class="d-flex gap-2 mt-2">
                                                {% if inter.user_type != 'sender' %}
                                                <form action="" method="post" class="d-flex gap-2" id="repondre{{ forloop.counter}}-{{ forloop.parentloop.counter}}">{% csrf_token %}
                                                    <input type="hidden" name="convo_id" value="{{msg.message_conversation.id}}">
                                                    <input type="hidden" name="message_id" value="{{msg.id}}">
                                                    <button type="submit" name="repondre" class="btn btn-perso">
                                                        {% trans 'Answer to' %} {{ sender.get_full_name }}
                                                    </button>
                                                    {% if msg.intermediate_set.count > 2 %}
                                                        <button type="submit" name="answer-all" class="btn btn-perso">
                                                            {% trans 'Answer to all' %}
                                                        </button>
                                                    {% endif %}
                                                </form>
                                                {% endif %}

                                                <form action="" method="post" name="delete" class="delete" id="delete{{ forloop.counter}}-{{ forloop.parentloop.counter}}">{% csrf_token %}
                                                    <input type="hidden" name="inter_id" value="{{inter.id}}">
                                                    <div class="modal fade" id="confirmDelete{{ forloop.counter}}-{{ forloop.parentloop.counter}}" tabindex="-1" aria-labelledby="confirmDelete" aria-hidden="true" role="dialog">
                                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body text-center m-3 p-0" role="alert">
                                                                    <h4 class="modal-title">{% trans 'Confirmation' %}</h4>
                                                                    <p>{% trans 'Are you sure that you want to delete this message' %}?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-danger">{% trans 'Cancel' %}</button>
                                                                    <button type="submit" name="delete" class="btn btn-perso">{% trans 'Yes, I am sure' %}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button type="button" id="repondrebutton" data-bs-toggle="modal" data-bs-target="#confirmDelete{{ forloop.counter}}-{{ forloop.parentloop.counter}}"
                                                            class="btn btn-outline-danger">
                                                        {% trans 'Delete' %}
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    {% endwith %}
                                    {% if forloop.last and convo|length > 3 %}
                                        <a class="btn btn-outline-info my-3" href="{% url 'internal_emailing_mailbox_conv' msg.message_conversation.id %}">
                                            {% trans 'Click here to see all the messages of this conversation.' %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="style3">
                    <ul class="step-links pagination">
                        {% if page_obj_received.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page_received=1">&laquo; </a></li>
                            <li class="page-item"><a class="page-link" href="?page_received={{ page_obj_received.previous_page_number }}">{{ page_obj_received.previous_page_number }}</a></li>
                        {% endif %}
                        <li class="page-item">
                            <a href="" class="current page-link bg-grey">
                                {{ page_obj_received.number }}
                            </a>
                        </li>
                        {% if page_obj_received.has_next %}
                            <li class="page-item"><a class="page-link" href="?page_received={{ page_obj_received.next_page_number }}">{{ page_obj_received.next_page_number }}</a></li>
                            <li class="page-item"><a class="page-link" href="?page_received={{ page_obj_received.paginator.num_pages }}"> &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

