{% extends "app4_ehpad_base/base_footer.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<style>
    .thumbnail-image{
        height: 110px;
        width: 110px;
        object-fit: cover;
        border-radius: 50%;
    }

    .illustration-pic{
        max-width: 160px;
        height: auto;
    }

    .activity-main-div{
        width: 310px;
    }

    .eval-face{
        width: 60px;
        height: auto;
    }
</style>


<main class="py-3">

    <form class="d-flex justify-content-center align-items-center" action="{% url 'app10_social_activities historic' %}" method="post">{% csrf_token %}
        <input name="previous" type="image" src="{% static 'app4_ehpad_base/img/fleche_gauche.png' %}" width="24em" class="img-fluid me-2">
        <select name="month" class="form-select-sm text-center" onchange="this.form.submit()">
            <option {% if option == 1 %} selected {% endif %} value="1">{% trans 'January' %}</option>
            <option {% if option == 2 %} selected {% endif %} value="2">{% trans 'February' %}</option>
            <option {% if option == 3 %} selected {% endif %} value="3">{% trans 'March' %}</option>
            <option {% if option == 4 %} selected {% endif %} value="4">{% trans 'April' %}</option>
            <option {% if option == 5 %} selected {% endif %} value="5">{% trans 'May' %}</option>
            <option {% if option == 6 %} selected {% endif %} value="6">{% trans 'June' %}</option>
            <option {% if option == 7 %} selected {% endif %} value="7">{% trans 'July' %}</option>
            <option {% if option == 8 %} selected {% endif %} value="8">{% trans 'August' %}</option>
            <option {% if option == 9 %} selected {% endif %} value="9">{% trans 'September' %}</option>
            <option {% if option == 10 %} selected {% endif %} value="10">{% trans 'October' %}</option>
            <option {% if option == 11 %} selected {% endif %} value="11">{% trans 'November' %}</option>
            <option {% if option == 12 %} selected {% endif %} value="12">{% trans 'December' %}</option>
        </select>
        <span class="ms-2">{{ year }}</span>
        <input name="year" value="{{ year }}" hidden>
        <input name="next" type="image" src="{% static 'app4_ehpad_base/img/fleche_droite.png' %}" width="24em" class="img-fluid ms-2">
    </form>

    {% if list_act %}
        <div class="container d-flex flex-wrap justify-content-center gap-2 pt-3">
            {% for activity in list_act %}
                <a href="{% url 'app10_social_activities historic details' act_id=activity.object.id %}" class="btn btn-perso d-flex flex-column justify-content-between gap-1 activity-main-div">
                    <div class="my-auto d-flex flex-column">
                        <span class="fs-3 text-shrink">{{ activity.object.event.type }}</span>
                        <span class="text-muted">{{ activity.object.event.location.name }}</span>
                        <span class="text-muted">{{ activity.object.event.organizer }}</span>
                    </div>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            {% if activity.object.thumbnail_url %}
                                <img src="{{ activity.object.thumbnail_url }}" class="rounded-3 illustration-pic">
                            {% elif activity.object.event.location.photo %}
                                <img src="{{ activity.object.event.location.photo.url }}" class="rounded-3 illustration-pic">
                            {% else %}
                                <img src="{% static 'app4_ehpad_base/img/no_picture.png' %}" class="rounded-3 illustration-pic">
                            {% endif %}
                        </div>
                        <div>
                            {% if activity.object.event.organizer.user.profile.photo %}
                                <img src="{{ activity.object.event.organizer.user.profile.photo.url }}" class="thumbnail-image">
                            {% else %}
                                <img src="{% static 'app4_ehpad_base/img/no_picture.png' %}" class="thumbnail-image">
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="d-flex flex-column align-self-center">
                            <span class="fw-bold">{{ activity.object.start|date:"l j F" }}</span>
                            <span>{{ activity.object.start|date:"H:i" }} - {{ activity.object.end|date:"H:i" }}</span>
                            <span>{{ activity.object.attendance.count }} / {{ activity.object.participants.count }} {% trans 'participants' %}</span>
                        </div>
                        <div class="my-auto">
                            {% if activity.note %}
                                {% if activity.note < 1.5 %}
                                    <img src="{% static 'app4_ehpad_base/img/visage_rouge.svg' %}" class="eval-face">
                                {% elif activity.note < 2.5 %}
                                    <img src="{% static 'app4_ehpad_base/img/visage_orange.svg' %}" class="eval-face">
                                {% elif activity.note < 3.5 %}
                                    <img src="{% static 'app4_ehpad_base/img/visage_vert_clair.svg' %}" class="eval-face">
                                {% else %}
                                    <img src="{% static 'app4_ehpad_base/img/visage_vert_fonce.svg' %}" class="eval-face">
                                {% endif %}
                            {% else %}
                                <div class="eval-face"></div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h4 class="text-center pt-4">{% trans "No history this month" %}</h4>
    {% endif %}
</main>


{% endblock content %}
