{% extends "app4_ehpad_base/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<style>
    #user_pic{
        max-height: 200px;
    }
    .eval_img{
        max-height: 150px
    }
</style>

<body id="body">
<div class="container-fluid">
    <div class="text-center mt-2">
        {% if identified_user.user.profile.photo %}
            <img id="user_pic" class="img-fluid rounded-3" src="{{ identified_user.user.profile.photo.url }}">
        {% endif %}
        <h2 class="mt-2">{{ identified_user.user.profile.civility }} {{ identified_user.user.last_name }}</h2>
    </div>
    <br>
            <hr class="w-50 mx-auto">
    <br>
            <h1 class="text-center">{% trans 'Confirm identity' %}</h1>
    <form action="{% url 'app10_social_activities start evaluation' %}" method="post">{% csrf_token %}
        <input hidden name="voter" value="{{ identified_user.folder }}">
        <div class="d-flex h-50 w-100 justify-content-evenly">
            <input class="eval_img" type="image" src="{% static 'app4_ehpad_base/img/visage_rouge.svg' %}" name="invalid" value="1">
            <input class="eval_img" type="image" src="{% static 'app4_ehpad_base/img/visage_vert_fonce.svg' %}" name="valid" value="1">
        </div>
    </form>
</div>
</body>
{% endblock %}

